body {
    text-align: center; /* Center text horizontally */
    background-color: black;
    display: flex;
    justify-content: space-between; /* Push content to the sides */
    align-items: center; /* Vertically align the text */
    height: 100vh; /* Full viewport height */
}

h1 {
    color: magenta;
}

p {
    color: lightseagreen;
}

img {
    max-width: 100%; /* Makes the GIF responsive */
    height: auto; /* Maintains aspect ratio */
}


.side-text {
    width: 10%; /* Limit width for each side's text */
}

.main-text{
    width: 80%;
}

.left {
    text-align: left; /* Align the text to the left */
}
.center {
    text-align: center; /* Align the text to the center */
    margin: 0 auto;
}
.right {
    text-align: right; /* Align the text to the right */
}
