body {
    text-align: center; /* Center text horizontally */
    background-color: black;
}

h1 {
    color: magenta;
}

p {
    color: darkblue;
}

img {
    max-width: 100%; /* Makes the GIF responsive */
    height: auto; /* Maintains aspect ratio */
}